In [38]:
import pandas as pd
import numpy as np

train=pd.read_csv('/2nd week/train.csv')
test=pd.read_csv('/2nd week/test.csv')
submit=pd.read_csv('/2nd week/submission.csv')

In [39]:
train=train.drop(['time','card_id','installments','days_of_week'],axis=1)
test=test.drop(['time','card_id','installments','days_of_week'],axis=1)
train

         store_id        date  amount  holyday
0               0  2016-12-14       5        0
1               0  2016-12-14      -5        0
2               0  2016-12-19     144        0
3               0  2016-12-19      66        0
4               0  2016-12-19      24        0
...           ...         ...     ...      ...
3362791      1799  2018-07-19     600        0
3362792      1799  2018-07-19     275        0
3362793      1799  2018-07-22     350        0
3362794      1799  2018-07-25     300        0
3362795      1799  2018-07-30     325        0

[3362796 rows x 4 columns]

In [40]:
test

        store_id        date  amount  holyday
0              0  2016-08-01     125        0
1              0  2016-08-01      90        0
2              0  2016-08-01     150        0
3              0  2016-08-01     362        0
4              0  2016-08-01     125        0
...          ...         ...     ...      ...
473387       199  2018-03-30      65        0
473388       199  2018-03-30      65        0
473389       199  2018-03-30      65        0
473390       199  2018-03-30     200        0
473391       199  2018-03-31     500        0

[473392 rows x 4 columns]

In [41]:
train = train.groupby(['date', 'store_id']).agg({'amount':'sum'}).reset_index()
test = test.groupby(['date', 'store_id']).agg({'amount':'sum'}).reset_index()
#store_id와 date 같으면 amount를 더함.
train.dtypes

date        object
store_id     int64
amount       int64
dtype: object

In [42]:
train['date'] = pd.to_datetime(train['date'],infer_datetime_format=True)
test['date'] = pd.to_datetime(test['date'],infer_datetime_format=True)
#to_datetime - 원래 데이터를 datetime 형식으로 변환시켜줌
train.dtypes
#datetime 형식 비교

date        datetime64[ns]
store_id             int64
amount               int64
dtype: object

In [43]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=None, strategy='constant',fill_value=0)
imp.fit_transform(train)
train.isnull()

TypeError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.1, random_state=42)